/* -----------------------
      all imports start
----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

/* -----------------------
      all imports start
----------------------- */
/*NAVBAR START*/
#navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
  transition: all linear 0.5s;
}
#navbar ul.navbar-nav li {
  margin-left: 25px;
}
#navbar ul.navbar-nav li a {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.15em;
  transition: all linear 0.3s;
  position: relative;
}
#navbar ul.navbar-nav li a:focus {
  color: #ffffff;
}
#navbar ul.navbar-nav li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all linear 0.3s;
}
#navbar ul.navbar-nav li a:hover::after {
  width: 100%;
}

#navbar.sticky {
  position: fixed;
  background-color: #0C3538;
  height: 50px;
  z-index: 999;
}

/*NAVBAR END*/
/*BANNER PART START*/
#banner {
  background: url("../images/Banner_BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner .overlay {
  background: linear-gradient(82.06deg, rgba(1, 1, 1, 0.62) 46.14%, rgba(31, 169, 180, 0) 101.22%);
  box-shadow: inset 0px 115px 83px rgba(0, 0, 0, 0.7);
  padding-top: 185px;
}
#banner .overlay .banner_info h1 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.15em;
  color: #ffffff;
}
#banner .overlay .banner_info h1 span {
  display: block;
  font-size: 50px;
}
#banner .overlay .banner_info h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.15em;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 8px;
}
#banner .overlay .banner_info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  padding-bottom: 34px;
}
#banner .overlay .banner_info .banner_btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 65px;
}
#banner .overlay .banner_info .banner_btn a {
  color: #ffffff;
  background: #244b49;
  border-radius: 5px;
  padding: 13px 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.15em;
  transition: all linear 0.3s;
  margin-right: 40px;
  display: inline-flex;
  gap: 5px;
}
#banner .overlay .banner_info .banner_btn a:hover {
  background-color: #ffffff;
  color: #173157;
}
#banner .overlay .banner_info .banner_btn a span.info {
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all linear 0.3s;
}
#banner .overlay .banner_info .banner_btn a:hover span.info {
  border: 2px solid #173157;
}
#banner .overlay .movie_slider .slide_item {
  margin: 0 12px;
}
#banner .overlay .movie_slider .slide_item .image {
  position: relative;
}
#banner .overlay .movie_slider .slide_item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#banner .overlay .movie_slider .slide_item .image .movie_overlay {
  background: rgba(22, 39, 65, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
#banner .overlay .movie_slider .slide_item .image .movie_overlay a {
  width: 90px;
  height: 90px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
}
#banner .overlay .movie_slider .slide_item.slick-center .image .movie_overlay {
  opacity: 1;
  visibility: visible;
}

/*BANNER PART END*/
/*SERVICES START*/
#services {
  background: #162741;
  padding-top: 130px;
  padding-bottom: 100px;
}
#services .container .row .col-lg-6 .service_info {
  color: #ffffff;
}
#services .container .row .col-lg-6 .service_info h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 112%;
  letter-spacing: 0.15em;
  color: #ffffff;
}
#services .container .row .col-lg-6 .service_info p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 15px;
}
#services .container .row .col-lg-6 .service_info a {
  background-color: #244b49;
  color: #ffffff;
  padding: 16px 20px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.15em;
  transition: all linear 0.3s;
}
#services .container .row .col-lg-6 .service_info a:hover {
  background-color: #ffffff;
  color: #173157;
}
#services .container .row .col-lg-6 .service_image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#services .container .row .col-lg-6 .service_image picture {
  width: 504px;
  height: 367px;
  border-radius: 15px;
  position: relative;
  top: 20px;
}
#services .container .row .col-lg-6 .service_image picture img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/*SERVICES END*/
/*ABOUT START*/
#about {
  background-color: #101c2e;
}
#about .container .upper_row {
  padding-top: 30px;
  padding-bottom: 45px;
}
#about .container .upper_row .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#about .container .upper_row .right .social_profile a {
  margin-left: 15px;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all linear 0.2s;
}
#about .container .upper_row .right .social_profile a:hover {
  color: red;
  border: 1px solid red;
}
#about .container .lower_row {
  padding-bottom: 30px;
}
#about .container .lower_row .part_1 picture {
  width: 161px;
  height: 204px;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .container .lower_row .part_1 picture img {
  width: 100%;
  height: 100%;
}
#about .container .lower_row .part_2 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #e4e4e4;
}
#about .container .lower_row .common_parts h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
#about .container .lower_row .common_parts .links a {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  color: #e4e4e4;
  transition: all linear 0.1s;
}
#about .container .lower_row .common_parts .links a:hover {
  opacity: 50%;
}

/*ABOUT END*/
footer {
  background: #080F18;
}
footer .container .row {
  padding: 30px 0px;
}
footer .container .row .col-lg-12 {
  display: flex;
  justify-content: center;
}
footer .container .row .col-lg-12 p {
  font-family: "Jura", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
footer .container .row .col-lg-12 p a {
  color: #FFAB34;
}
footer .container .row .col-lg-12 p a:hover {
  opacity: 0.6;
}

/*MOVE TO TOP START*/
.move_to_top {
  background-color: #0c3538;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
}
.move_to_top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.move_to_top a i {
  color: white;
  font-size: 25px;
}

.move_to_top.move_top {
  right: 20px;
  bottom: 20px;
  opacity: 1;
  visibility: visible;
}

/*MOVE TO TOP END*/
/* -----------------------
      all imports end
----------------------- *//*# sourceMappingURL=style.css.map */