$white: #ffffff;
$para_grey_color: #E4E4E4;
$btn_primary_bg_color: #244B49;
$btn_hover_color: #173157;
$black: #111111;
$poppins-font-family: 'Poppins', sans-serif;
$Kaushan-font-family: 'Kaushan Script', cursive;
$inter-font-family: 'Inter', sans-serif;