$white: #ffffff;
$para_grey_color: #e4e4e4;
$btn_primary_bg_color: #244b49;
$btn_hover_color: #173157;
$black: #111111;
$service_bg_color: #162741;
$about_bg_color: #101c2e;
$footer_bg_color: #080F18;
$footer_link_color:#FFAB34;
$poppins-font-family: "Poppins", sans-serif;
$Kaushan-font-family: "Kaushan Script", cursive;
$inter-font-family: "Inter", sans-serif;
$jura_font_family: "Jura", sans-serif;
