@import "../variable/variable";

@mixin common_button {
  color: $white;
  background: $btn_primary_bg_color;
  border-radius: 5px;
  padding: 13px 20px;
  font-family: $inter-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.15em;
  transition: all linear .3s;
  &:hover{
    background-color: $white;
    color: $btn_hover_color;
  }
}
@mixin paragraph($color, $font-family ) {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: $color;
  font-family: $font-family;
}
